h2 {
    font-size: 2em;
}

.shareDiv {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;

}
  
.shareDiv label {
    font-size: 1.5em;
    font-weight:normal;
}

.shareDiv input[type=text] {
    border-radius: 10px;
    height: 50px;
    width: 50%;
    align-self: center;
    padding: .5em;
}

#shareEmail {
    margin-bottom: 4em;
}

.shareDiv input[type=submit] {
    border-radius: 10px;
    margin: .5em;
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight:500;
    background-color: var( --orange );
}
