.content p {
    font-size: 1em;
}
.content h2 {
    font-size: 2.5em;
}
#contactForm {
    display: flex;
    font-size: 1em;
    font-weight: 500;
}
#name,
#email {
    height: 3em;
}
#name,
#email,
#message {
    width: 58%;
    display: flex;
    justify-content: center;
    margin: 1em auto;
    border-radius: 13px;
}

#submitBtn {
    margin: 0.9em 0 1.5em 0;
    width: 5em;
    height: 2em;
    font-size: 0.9em;
    font-weight:500;
    border-radius: 10px;
    background-color: #ff980c;
}

@media screen and (max-width: 530px) {
    #contactInputDiv,
    #contactInputDiv1,
    #contactInputDiv2,
    #contactInputDiv3 {
        flex-direction: column;
        margin: 1em 0;
        text-align: justify;
        width: 100%;
    }
}