/***** FAQ STYLING *****/
#faqh2{
  font-size: 50px;
}

.cBox{
  font-size: 32px;
  font-weight: bold;
  color: #301930;
  list-style: none;
  height: auto !important;
  width: auto !important;
}

.questionanswersection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faqanswers{
  font-size: 22px;
  list-style: none;
  width: auto;
  font-weight: lighter;
}
#backtoFAQ a:link{
  text-emphasis: none;
  text-decoration: none;
}

