.searchForm .inputDiv {
  justify-content: center;
}

.pwTable {
  margin: 2em auto;
  width: 100%;

}

.pwButtonsTd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pwTableRow .inputDiv {
  width: unset;
  margin: 0;
}

.pwButtonsTd input[type=submit] {
  background-color: var( --lightGrey );
}

.pwButtonsRow {
  width: unset;
  display: none;
}

/***** Phone Portrait View ******/
@media screen and (max-width: 700px) {
  .pwTableRow .inputDiv {
    display: none;
  }

  .pwButtonsRow {
    display: inline-block;
    display: flex;
    flex-direction: row;
  }

}
