.pwTableRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputDiv {
  width: 100px;
}

.inputDiv input[type=submit] {
  background-color: var( --lightGrey );
}

  /***** CRUD PASSWORDS CSS ******/
  /* h2{
    font-size: 50px;
  }
  .tablehead{
    padding-right: 150px;
    font-size:35px;
  }
  
  .tabledata{
    padding-right: 150px;
    font-size: 20px;
  }
  
  .listpasswords{
    margin-left: 10px;
  }
  
  .inputDivCreate{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 1em auto;
    padding-left: 110px;
    text-align: right;
    width: 100px;
    float: left;
  }
  
  .inputDivCreate input[type=submit] {
    border-radius: 10px;
    margin: .5em;
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight:500;
    background-color: var( --orange );
  }

.inputDiv {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin: 1em auto;
  text-align: right;
  width: 100px;
}

.inputDiv input[type=submit] {
  border-radius: 10px;
  margin: .5em;
  padding: .5em 1em;
  font-size: 1.2em;
  font-weight:500;
  background-color: var( --orange );
}

.inputDiv input[type=text] {
  border-radius: 10px;
  padding: .5em;
  height: 40px;
  margin: 9.6px;
}
 */

